div{
    width: 200px;
    background-color: blue;
}
h1{
    background-color: green;
    width: 200px;
}
#one{
    background-color: palegreen;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    border-bottom-right-radius: 10%;
}
#two{
    background-color: seagreen;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 10%;
}
#three{
    background-color: peachpuff;
    border-width: 4px;
    border-color: aqua;
    border-style: dotted;
    box-sizing: border-box;
}